/* Degradado de azul a morado: #4B6CB7 (azul) a #8E44AD (morado)
Blanco (#FFFFFF) texto
gris oscuro (#2C3E50) texto
Colores de acento (botones, enlaces activos) #3498DB */

#root,
html,
body {
  max-width: 100%;
  overflow-x: clip;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

button {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: solid 2px transparent;
}

/* transition botones !!  */

.blue-btn {
  color: white;
  background-color: #4b6cb7;
  width: fit-content;
  margin: 1rem;
  font-size: 12px;
  padding: 10px 20px;
}

button:hover {
  color: #4b6cb7;
  background-color: transparent;
  border: solid 2px hsl(222, 43%, 51%);
}

.white-btn {
  color: #4b6cb7;
  background-color: white;
  padding: 12px 25px;
  margin: 1rem;
}

.white-btn:hover {
  color: white;
  border: solid 2px white;
}

/* TYPING EFFECT  */

.typing {
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  width: 0;
  animation: typing 3s steps(30, end) forwards, blink 0.5s step-end 1.5s,
    removeBorder 0.1s 3s forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from {
    border-color: transparent;
  }
  to {
    border-color: black;
  }
}
@keyframes removeBorder {
  from {
    border-right: 3px solid black;
  }
  to {
    border-right: none;
  }
}

/*HOME*/

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: whitesmoke;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.dinamic-screen {
  flex: 1;
  background-color: whitesmoke;
  margin-top: 3rem;
}

.section {
  margin: 0;
  text-align: center;
  min-height: 100vh;
}

#header {
  background: linear-gradient(135deg, #4b6cb7, #8e44ad);
  padding: 0 2.5rem;
  padding-top: 3rem;
  color: #ffffff;
}

.banner {
  width: 100%;
  min-height: 50vh;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.banner-info {
  flex-direction: column;
  width: 50%;
  text-align: left;
  margin: 3rem;
}

.banner-info h1 {
  font-size: 3vw;
}

.banner-info h2 {
  font-size: 2vw;
  max-width: fit-content;
}

#header img {
  width: 280px;
  height: 280px;
  object-fit: cover;
  border-radius: 200px;
  margin: 3rem;
}

/* NAV BAR  */

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  padding-right: 20vw;
  margin-bottom: 0;
  height: 3rem;
  background: linear-gradient(135deg, #4b6cb7, #8e44ad);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
}

#nav-logo {
  padding: 0.3rem;
  height: fit-content;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
}

nav ul {
  color: #ffffff;
  list-style-type: none;
  display: flex;
  gap: 2rem;
  margin: 2rem;
}

#burger-menu {
  display: none;
  cursor: pointer;
}

nav ul li {
  padding: 0.3rem;
}

nav a {
  text-decoration: none;
  color: #ffffff;
}

nav li:hover {
  color: #3498db;
  border-bottom: solid 2px #3498db;
  cursor: pointer;
}

@media (max-width: 768px) {
  nav {
    height: fit-content;
    flex-direction: column;
    justify-content: center;
  }

  #nav-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 80%;
    margin: 0 3rem;
  }

  nav ul {
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    gap: 1px;
    padding: 0;
    margin: 2px auto;
    display: none;
    
    /*
    max-height: 0;
    overflow: hidden;  Oculta el contenido cuando está colapsado
    opacity: 0;  Para un efecto más suave 
    transition: max-height 0.2s ease-in-out, opacity 0.2s ease-in-out; */
  }

  nav.active ul {
    display: flex;
    /* max-height: 500px; 
    opacity: 1; */
  }

  nav ul li {
    margin: 0 auto;
  }

  #burger-menu {
    display: block;
  }
}

/* ABOUT SECTION  */

#about-section {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
}

#about-info {
  width: 67%;
  padding: 15px 35px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: justify;
}

#about-pic {
  width: 33%;
  overflow: hidden;
  box-sizing: border-box;
  height: 100%;
}

#about-info h2 {
  margin: 10px 0 0 0;
  text-align: center;
}

#about-info p {
  padding: 3px 40px;
  font-size: 1.1vw;
}

#about-info div {
  margin: 1px 0 25px 0;
}

#about-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* PROJECTS SECTION  */

#projects-section {
  margin-bottom: 1.5rem;
}

.project-btn {
  width: fit-content;
  padding: 0.3rem;
  margin: 0.5rem;
  border-radius: 1px;
  background-color: #3498db;
  border: black 0.5px solid;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.project-btn:hover {
  background-color: #3498db;
  color: white;
  border: white 0.5px solid;
}
.project-btn-box {
  padding: 0.4rem;
}

#projects-section {
  height: fit-content;
}


#projects-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 80%;
  gap: 2rem;
  margin: 2rem auto;
}

#projects-list div {
  margin: 0;
  max-width: fit-content;

}

.project-card {
  width: 100%; 
  max-width: 25rem;
  height: auto; 
  aspect-ratio: 16 / 9; 
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-body {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100% ;
  font-size: 0.9rem;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 1.2rem 0.5rem;
  background: linear-gradient(135deg, #4b6cb7, #8e44ad);
}

.card-body p {
  margin: 1rem;
  font-size: 0.75rem;
}

.project-card:hover .card-body {
  
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease;

}

/* CONTACT SECTION */

#contact-section {
  
  background: linear-gradient(135deg, #4b6cb7, #8e44ad);
  color: white;
  margin: 0;
  padding: 2vh;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#contact-section p {
  width: 50%;
  text-align: center;
}

#contact-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
  padding: 5px;
  text-align: left;
  margin: 0 auto;
}

#contact-details a {
  text-decoration: none;
  color: white;
  padding: 3px;
}

/* Contact form component  */

#contact-box {
  padding: 2rem;
  border-radius: 15px;
  border: 3px solid #3498db;
  width: 40%;
  margin: 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.mb-3 {
  text-align: left;
  padding: 0.8rem;
}

.input {
  font-size: 14px;
  color: white;
  background: transparent;
  border: none;
  border-bottom: solid 1px white;
  font-family: "Poppins", sans-serif;
  width: 95%;
  text-align: left;
  display: flex;
  align-items: flex-end;
}

.form-label {
  width: 100%;
}

/* FOOTER */

#footer {
  position: relative;
  bottom: 0;
  background: linear-gradient(135deg, #4b6cb7, #8e44ad);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: min-content;
  box-sizing: border-box;

  padding: 20px;
  margin-top: auto;
}

#footer small {
  text-align: center;
  font-size: 0.7rem;
  width: 50%;
  margin: 0 auto;
}

.footer-icons {
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
}

.footer-icons a {
  color: black;
}

@media (max-width: 768px) {

  #projects-list {
    grid-template-columns: 1fr;
  }

  .project-btn {
    font-size: 10px;
  }
  .card-body {
    font-size: 0.8rem;
  }

  .card-body p {
    margin: 0.9rem;
    font-size: 0.6rem;
  }

  .banner {
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1.5rem;
  }

  .banner-info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    text-align: center;
    width: 100%;
  }

  .banner-info h1 {
    font-size: 8vw;
  }

  .banner-info h2 {
    font-size: 6vw;
    margin: 0 auto;
  }

  #header img {
    width: 200px;
    height: 200px;
    margin: 2rem;
  }

  #about-section {
    justify-content: center;
    flex-direction: column;
    height: auto;
  }

  #about-info {
    width: 100%;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  #about-info p {
    padding: 1rem 1.5rem;
    text-align: left;
    font-size: 4vw;
  }

  #about-pic {
    width: 100vw;
    height: auto;
  }

  #about-pic img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  #contact-section {
    font-size: 4vw;
  }
  #contact-box {
    width: 70%;
  }

  #contact-details {
    
    flex-direction: column;
    justify-content: center;
    gap: 0;
    text-align: center;
    
  }

  #contact-section p {
    width: 80%;
  }

}

/* FONT */

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}
